body{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-family: "Public Sans", sans-serif;
    overflow-x: hidden;

}




// Flexbox
.flex {
    display: flex;
  
    &-jc-sb {
      justify-content: space-between;
    }
  
    &-jc-c {
      justify-content: center;
    }
  
    &-ai-c {
      align-items: center;
    }
  }


  .hide-for-desktop {  
    @include min-width(1023px) {
    display: none;
  }}

  .hide-for-mobile {  
    @include max-width(1023px)  {
    display: none;
  }}



  .h2{
    color: $darkBlue;
    font-weight: 300;
    font-size: 35px;
 
    @include max-width(767px) {
       font-size: 29px;
       }
 
 }
 