body {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

.no-scrol {
  overflow: hidden;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

@media screen and (min-width: 1023px) {
  .hide-for-desktop {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .hide-for-mobile {
    display: none;
  }
}

.h2 {
  color: hsl(233, 26%, 24%);
  font-weight: 300;
  font-size: 35px;
}
@media screen and (max-width: 767px) {
  .h2 {
    font-size: 29px;
  }
}

.header {
  margin: 0 auto;
  max-width: 1440px;
  z-index: 3;
  height: 58px;
  position: relative;
}
.header.open .header__hamburger {
  transition: all 300ms ease-in-out;
}
.header.open .header__hamburger > div:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.header.open .header__hamburger > div:nth-child(2) {
  opacity: 0;
}
.header.open .header__hamburger > div:nth-child(3) {
  transform: translateY(-4px) rotate(-45deg);
}
@media screen and (max-width: 1023px) {
  .header {
    z-index: 1;
  }
}
@media screen and (max-width: 767px) {
  .header {
    z-index: 1;
  }
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
  margin-left: 144px;
  margin-right: 144px;
  margin-bottom: 18px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .header nav {
    margin-right: 24px;
    margin-left: 20px;
    margin-top: 19px;
  }
}
@media screen and (max-width: 767px) {
  .header nav {
    margin-right: 24px;
    margin-left: 20px;
    margin-top: 19px;
  }
}
.header__hamburger {
  cursor: pointer;
  width: 26px;
  height: 15px;
}
.header__hamburger div {
  display: block;
  width: 26px;
  height: 2px;
  background: hsl(233, 26%, 24%);
  margin-bottom: 5px;
  border-radius: 20px;
}
.header__links a {
  text-decoration: none;
  margin-left: 34px;
  font-size: 14px;
  color: hwb(233 59% 35%);
}
.header__links a:first-child {
  margin-left: 0;
}
.header__button {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  height: 46px;
  width: 163px;
  display: inline-block;
}
.header__button p {
  margin: 15px; /* Reset margin */
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
}
.header .menu {
  background-color: white;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  height: 240px;
  z-index: 4;
  position: absolute;
  text-align: center;
}
.header .menu a {
  display: block;
  text-decoration: none;
  color: hsl(233, 26%, 24%);
  line-height: 35px;
  margin-top: 10px;
}

.hero {
  margin: 0 auto;
  z-index: 1;
  max-width: 1440px;
  background-color: hsl(0, 0%, 98%);
}
@media screen and (min-width: 1023px) {
  .hero {
    display: flex;
  }
}
.hero.overlay {
  position: fixed;
  top: 58px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  background-image: linear-gradient(hsl(233, 26%, 24%), transparent);
}
.hero__image-container {
  background-image: url(/easybank-landing-page-master/images/bg-intro-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 20rem;
  position: relative;
}
@media screen and (min-width: 767px) {
  .hero__image-container {
    min-height: 22.875rem;
    background-size: 100%;
  }
}
@media screen and (min-width: 1023px) {
  .hero__image-container {
    flex: 2;
    order: 2;
    background-image: url(/easybank-landing-page-master/images/bg-intro-desktop.svg);
    background-size: 100%;
    margin-right: -240px;
    background-repeat: no-repeat;
    background-position: right bottom;
    min-height: 660px;
    position: relative;
  }
}
.hero__image-container:before {
  content: "";
  background-image: url(/easybank-landing-page-master/images/image-mockups.png);
  position: absolute;
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 767px) {
  .hero__image-container:before {
    background-position: center center;
    background-size: 69%;
  }
}
@media screen and (max-width: 1023px) {
  .hero__image-container {
    height: 22.875rem;
  }
}
@media screen and (min-width: 767px) {
  .hero__image-container {
    height: 22.875rem;
  }
}
.hero__text-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1023px) {
  .hero__text-container {
    flex: 1;
    margin-top: 140px;
    margin-left: 100px;
  }
}
.hero__text-container h1 {
  color: hsl(233, 26%, 24%);
  font-weight: 300;
  line-height: 1.15;
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 20px;
}
.hero__text-container p {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 38px;
  line-height: 23px;
  text-align: center;
  display: block;
  color: hwb(233 59% 35%);
}
.hero .header__button p {
  color: white;
}

.why {
  background-color: hsl(220, 16%, 96%);
  z-index: 0;
}

.containerr {
  padding: 30px;
  margin-left: 100px;
  max-width: 69.375rem;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .title {
    text-align: center;
  }
}

.containerr h2 {
  color: hsl(233, 26%, 24%);
  font-weight: 300;
  font-size: 35px;
}
@media screen and (max-width: 767px) {
  .containerr h2 {
    font-size: 29px;
  }
}

.containerr h3 {
  color: hsl(233, 26%, 24%);
  font-weight: 400;
  font-size: 23px;
}

.containerr p {
  color: hwb(233 59% 35%);
  line-height: 20px;
}
@media screen and (max-width: 767px) {
  .containerr p {
    font-size: 14px;
  }
}

.box {
  width: 262px;
  height: 268px;
  margin-top: 81px;
  margin-right: 36px;
}
.boxx {
  display: flex;
}
@media screen and (max-width: 767px) {
  .boxx {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 1023px) {
  .boxx {
    display: flex;
    flex-wrap: wrap;
    margin-left: 43px;
  }
}

.art {
  background-color: hsl(0, 0%, 98%);
}
.art__spacing {
  max-width: 69.375rem;
  margin: 0 auto;
  padding-top: 40px;
  padding-right: 1.5rem;
  padding-bottom: 40px;
  padding-left: 1.5rem;
  margin-bottom: 30px;
}
.art .twodiv {
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media screen and (max-width: 767px) {
  .art .twodiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 76px;
    margin-left: 21px;
    margin-right: 21px;
  }
}
.art .twodiv .articles {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .art .twodiv .articles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 767px) {
  .art .twodiv .articles {
    display: flex;
    flex-wrap: wrap;
  }
}
.art .twodiv .articles .article {
  display: flex;
  flex-direction: column;
  height: 423px;
  width: 242px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.art .twodiv .articles .article:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 767px) {
  .art .twodiv .articles .article {
    height: 354px;
    width: 450px;
  }
}
.art .twodiv .articles .imag {
  position: relative;
}
.art .twodiv .articles .imag img {
  position: absolute;
  top: 0;
  height: 199px;
  width: 242px;
  border-radius: 10px;
  background-position: top;
}
@media screen and (max-width: 767px) {
  .art .twodiv .articles .imag img {
    width: 450px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.art .twodiv .articles .text {
  margin-top: 185px;
  padding: 25px;
}
.art .twodiv .articles .titre {
  margin-top: 15px;
  color: hwb(233 59% 35%);
  font-size: 11px;
  margin-bottom: 16px;
}
.art .twodiv .articles .soustitre {
  color: hsl(233, 26%, 24%);
  font-weight: 400;
  margin-bottom: 16px;
  font-size: 17px;
}
.art .twodiv .articles .pargr {
  color: hwb(233 59% 35%);
  font-size: 13px;
  font-weight: 200;
}

.footer {
  background-color: hsl(233, 26%, 24%);
  color: white;
}
.footer__spacing {
  max-width: 69.375rem;
  margin: 0 auto;
  max-width: 69.375rem;
  padding-top: 40px;
  padding-right: 1.5rem;
  padding-bottom: 40px;
  padding-left: 1.5rem;
}
.footer__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1023px) {
  .footer__cont {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 3fr;
    grid-template-rows: auto auto; /* Changed from 1fr auto */
    grid-template-areas: "logo links1 links2 btn" "logos links1 links2 copyr"; /* Adjusted to include links1 and links2 in both rows */
    gap: 1rem;
    justify-items: start;
  }
}
@media screen and (min-width: 1023px) {
  .footer__logo {
    justify-self: start; /* Align the logo to the start of its grid area */
    align-self: start;
    grid-area: logo;
  }
}
.footer__logos {
  margin-top: 30px;
  display: flex;
  gap: 16px;
}
.footer__logos a svg path {
  transition: fill 150ms ease-in-out;
}
.footer__logos a:hover svg path {
  fill: hsl(136, 65%, 51%);
}
@media screen and (min-width: 1023px) {
  .footer__logos {
    grid-area: logos;
    justify-self: start;
    margin-top: 0px;
  }
}
.footer__links-col1 {
  margin-top: 30px;
  display: flex;
  text-align: center;
  flex-direction: column;
  text-decoration: none;
  line-height: 30px;
  transition: color 150ms ease-in-out;
}
@media screen and (min-width: 1023px) {
  .footer__links-col1 {
    justify-self: start; /* Align the logo to the start of its grid area */
    align-self: start;
    grid-area: links1;
    margin-top: 0px;
  }
}
.footer__links-col1 :hover {
  color: hsl(136, 65%, 51%);
}
.footer__links-col1 a {
  line-height: 40px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}
.footer__links-col2 {
  display: flex;
  text-align: center;
  flex-direction: column;
  text-decoration: none;
  line-height: 40px;
  margin-bottom: 40px;
  transition: color 150ms ease-in-out;
}
@media screen and (min-width: 1023px) {
  .footer__links-col2 {
    justify-self: start; /* Align the logo to the start of its grid area */
    align-self: start;
    grid-area: links2;
    margin-bottom: 0px;
  }
}
.footer__links-col2 :hover {
  color: hsl(136, 65%, 51%);
}
.footer__links-col2 a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}
@media screen and (min-width: 1023px) {
  .footer__btn {
    grid-area: btn;
    align-self: end;
    justify-self: end;
  }
}
.footer .header__button {
  margin-bottom: 15px;
}
@media screen and (min-width: 1023px) {
  .footer .copyright {
    grid-area: copyr;
    align-self: end;
    justify-self: end;
  }
}
.footer__attribution {
  margin-top: 45px;
  text-align: center;
}
.footer__attribution a {
  color: white;
  text-decoration: none;
}

.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}/*# sourceMappingURL=style.css.map */