body {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-family: "Public Sans", sans-serif;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

@media screen and (min-width: 1023px) {
  .hide-for-desktop {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .hide-for-mobile {
    display: none;
  }
}

.h2 {
  color: hsl(233, 26%, 24%);
  font-weight: 300;
  font-size: 35px;
}
@media screen and (max-width: 767px) {
  .h2 {
    font-size: 29px;
  }
}

.header {
  height: 80px;
}
@media screen and (max-width: 1023px) {
  .header {
    height: 45px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    height: 45px;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
  margin-left: 144px;
  margin-right: 144px;
  margin-bottom: 18px;
}
@media screen and (max-width: 1023px) {
  .header__nav {
    margin-right: 24px;
    margin-left: 20px;
    margin-top: 19px;
  }
}
@media screen and (max-width: 767px) {
  .header__nav {
    margin-right: 24px;
    margin-left: 20px;
    margin-top: 19px;
  }
}
.header__hamburger {
  cursor: pointer;
  width: 26px;
  height: 15px;
}
.header__hamburger div {
  display: block;
  width: 26px;
  height: 2px;
  background: hsl(233, 26%, 24%);
  margin-bottom: 5px;
  border-radius: 20px;
}
.header__links a {
  text-decoration: none;
  margin-left: 34px;
  font-size: 14px;
  color: hwb(233 59% 35%);
}
.header__links a:first-child {
  margin-left: 0;
}
.header__button {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  height: 46px;
  width: 163px;
  display: inline-block;
}
.header__button p {
  margin: 15px; /* Reset margin */
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
}

@media screen and (min-width: 1023px) {
  .hero {
    display: flex;
  }
}
.hero__image-container {
  background-image: url(/easybank-landing-page-master/images/bg-intro-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 20rem;
  position: relative;
}
@media screen and (min-width: 767px) {
  .hero__image-container {
    min-height: 22.875rem;
    background-size: 100%;
  }
}
@media screen and (min-width: 1023px) {
  .hero__image-container {
    flex: 2;
    order: 2;
    background-image: url(/easybank-landing-page-master/images/bg-intro-desktop.svg);
    background-size: 108%;
    margin-right: -240px;
    background-repeat: no-repeat;
    background-position: right bottom;
    min-height: 660px;
    position: relative;
  }
}
.hero__image-container:before {
  content: "";
  background-image: url(/easybank-landing-page-master/images/image-mockups.png);
  position: absolute;
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 767px) {
  .hero__image-container:before {
    background-position: center center;
    background-size: 60%;
  }
}
@media screen and (max-width: 1023px) {
  .hero__image-container {
    height: 22.875rem;
  }
}
@media screen and (min-width: 767px) {
  .hero__image-container {
    height: 22.875rem;
  }
}
.hero__text-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1023px) {
  .hero__text-container {
    flex: 1;
    margin-top: 140px;
    margin-left: 100px;
  }
}
.hero__text-container h1 {
  color: hsl(233, 26%, 24%);
  font-weight: 300;
  line-height: 1.15;
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 20px;
}
.hero__text-container p {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 38px;
  line-height: 23px;
  text-align: center;
  display: block;
  color: hwb(233 59% 35%);
}
.hero .header__button p {
  color: white;
}

.why {
  background-color: hsl(220, 16%, 96%);
  margin-top: 101px;
}

.containerr {
  padding: 30px;
  margin-left: 100px;
}

@media screen and (max-width: 767px) {
  .title {
    text-align: center;
  }
}

.containerr h2 {
  color: hsl(233, 26%, 24%);
  font-weight: 300;
  font-size: 35px;
}
@media screen and (max-width: 767px) {
  .containerr h2 {
    font-size: 29px;
  }
}

.containerr h3 {
  color: hsl(233, 26%, 24%);
  font-weight: 400;
  font-size: 23px;
}

.containerr p {
  color: hwb(233 59% 35%);
  line-height: 20px;
}
@media screen and (max-width: 767px) {
  .containerr p {
    font-size: 14px;
  }
}

.box {
  width: 262px;
  height: 268px;
  margin-top: 81px;
  margin-right: 36px;
}
.boxx {
  display: flex;
}
@media screen and (max-width: 767px) {
  .boxx {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 1023px) {
  .boxx {
    display: flex;
    flex-wrap: wrap;
    margin-left: 43px;
  }
}

.art {
  height: 688px;
  background-color: hsl(0, 0%, 98%);
  margin-top: 101px;
}
.art .twodiv {
  padding: 30px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media screen and (max-width: 767px) {
  .art .twodiv {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 76px;
    margin-left: 21px;
    margin-right: 21px;
  }
}
.art .twodiv .articles {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .art .twodiv .articles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 767px) {
  .art .twodiv .articles {
    display: flex;
    flex-wrap: wrap;
  }
}
.art .twodiv .articles .article {
  display: flex;
  flex-direction: column;
  height: 423px;
  width: 242px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.art .twodiv .articles .article:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 767px) {
  .art .twodiv .articles .article {
    height: 354px;
    width: 549px;
  }
}
.art .twodiv .articles .imag {
  position: relative;
}
.art .twodiv .articles .imag img {
  position: absolute;
  top: 0;
  height: 199px;
  width: 242px;
  border-radius: 10px;
  background-position: top;
}
@media screen and (max-width: 767px) {
  .art .twodiv .articles .imag img {
    width: 549px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.art .twodiv .articles .text {
  margin-top: 185px;
  padding: 25px;
}
.art .twodiv .articles .titre {
  margin-top: 15px;
  color: hwb(233 59% 35%);
  font-size: 11px;
  margin-bottom: 16px;
}
.art .twodiv .articles .soustitre {
  color: hsl(233, 26%, 24%);
  font-weight: 400;
  margin-bottom: 16px;
  font-size: 17px;
}
.art .twodiv .articles .pargr {
  color: hwb(233 59% 35%);
  font-size: 13px;
  font-weight: 200;
}/*# sourceMappingURL=style.css.map */